.scroll-wrapper {
    background-image: url('../assets/scroll-background-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 450px;
    overflow: hidden;

    .ads-scrolling-container {
        height: calc(100% - 220px);
        padding: 30px;
        padding-right: 0;
        margin-top: 75px;
        overflow-y: auto;
        overflow-x: hidden;

        display: flex;
        flex-direction: column;

        .ad-wrapper {
            cursor: pointer;
            width: calc(100% - 50px);
            margin-top: 10px;
            margin-bottom: 5px;
            display: flex;
            flex-direction: column;
            border-top: 1px solid black;
            // generalize
            .details-wrapper {
                margin-top: 5px;
                display: flex;
                align-items: center;
                span {
                    margin-left: 10px;
                }
            }
        }
    }
}